body {
    /* background-color: brown; */
    background-image: url("nature.jpeg");
    background-size: cover;
}
#main-title {
    font-style: italic; 
    text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.4);
}
.contents {
    margin-top: 40px;
}
.heading {
    margin: auto;
    width: fit-content;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
}
td, th {
    border: solid;
}
.introduction-contents { 
    opacity: 0.9;
    margin: auto;
    margin-top: 40px;
}
table {
    background-color: aliceblue;
    opacity: 0.9;
    margin: auto;
}
th {
    width: 20px;
}
td {
    width: 170px;
    text-align: center;
}
.subheadding {
    color: aliceblue;
}
.small_contents {
    background-color: aliceblue;
}
#sample1 {
    color: rgb(185, 72, 35);
}